<div class="breadcrumbs">        
  <div class="breadcrumbs__container" data-link="{on 'click' 'li' updateAnalytic}" data-jsv="#1552^/1552^">            
  <ul class="breadcrumbs__list" itemscope="" itemtype="https://schema.org/BreadcrumbList" data-jsv-df="">
  <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">                   
    <a class="breadcrumbs__link" href="/" itemprop="item">                        
      <span itemprop="name">Главная</span>                 
    </a>                    
  <meta itemprop="position" content="1">                </li>
  <li data-jsv="#1550^#1242_#1243_" class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">                       
  <script type="jsv#1244_"></script>                            
  <span itemprop="name">Мужчинам</span>                       
  <script type="jsv/1244_"></script>                        <meta itemprop="position" content="2">                    </li></ul>       
  </div>    
</div>