{% extends "base.html" %}

{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %} Товары {% endif %}
{% endblock %}

{% block content %}

<div class="wrapper style2">

    <article id="main" class="container special">
        <a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a>
        <header>
            <h2><a href="#"> Основнй header maina</a></h2>
            <p>
               Типа текст p
            </p>
        </header>
        <div id="sidebar">
            <h3>Категории</h3>
            <ul>
                <li {% if not category %}class="selected"{% endif %}>
                    <a href="{% url "product:home" %}">Все категории</a>
                </li>
                {% for c in categories %}
                    <li {% if category.slug == c.slug %}class="selected"
                        {% endif %}>
                        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                    </li>
                {% endfor %}
            </ul>
         </div>
        
        <p>
            Основнй панель товаров 
        </p>
        <div class="container">
            <h3>{% if category %}{{ category.name }}{% else %}Товары{% endif %}</h3>
            {% for product in products %}
                <div class="item">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                    </a>
                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                    <br>
                    ${{ product.new_price }}
                </div>
            {% endfor %}
         </div>
        
    </article>

</div>



{% endblock %}